@import "./fixed-button.scss";
@import "./login.scss";
@import "./text-editor.scss";
@import "./profile.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: black;
}

$primaryColor:#61dafb;
$headerColor:#282c34;

.App {
  text-align: center;
}

.App-header {
  background-color: $headerColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: $primaryColor;
}